
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
div.signin{
    padding:0px;
    width:60%;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
div.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #7788F4;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
div.sidebar.open{
    width: 250px;
}
div.sidebar div.logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
div.sidebar div.logo-details img{
    opacity: 0;
    transition: all 0.5s ease;
}
div.sidebar div.logo-details div.logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
div.sidebar.open div.logo-details img,
div.sidebar.open div.logo-details div.logo_name{
    opacity: 1;
}
div.sidebar div.logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
div.sidebar.open div.logo-details #btn{
    text-align: right;
}
div.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
div.sidebar ul.nav-list{
    margin-top: 20px;
    height: 100%;
    padding-left: 0px;
}
div.sidebar ul.nav-list ul.book-show{
    position: static;
    display: none;
}
div.sidebar.open ul.nav-list ul.book-show.show{
    display: block;
}
div.sidebar.open ul.nav-list ul.book-show.show li{
    line-height: 42px;
    border-top: none;
}
div.sidebar.open ul.nav-list ul.book-show.show li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 0px;
}
div.sidebar.open ul.nav-list ul.book-show.show li a:hover{
    color: #7788F4;
}
div.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
div.sidebar li span.tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
div.sidebar li:hover span.tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
div.sidebar.open li span.tooltip{
    display: none;
}
div.sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #7788F4;
}
div.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}
div.sidebar i.bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #7788F4;
    color: #FFF;
}
div.sidebar.open i.bx-search:hover{
    background: #1d1b31;
    color: #FFF;
}
div.sidebar i.bx-search:hover{
    background: #FFF;
    color: #7788F4;
}
div.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #7788F4;
}
div.sidebar li a:hover{
    background: #FFF;
}
div.sidebar li a span.links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
div.sidebar.open li a span.links_name{
    opacity: 1;
    pointer-events: auto;
}
div.sidebar li a:hover span.links_name,
div.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #7788F4;
}
div.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
div.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #7788F4;
    transition: all 0.5s ease;
    overflow: hidden;
}
div.sidebar.open li.profile{
    width: 250px;
}
div.sidebar li div.profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
div.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
div.sidebar li.profile div.name,
div.sidebar li.profile div.job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
div.sidebar li.profile div.job{
    font-size: 12px;
}
div.sidebar li.profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #7788F4;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
div.sidebar.open li.profile #log_out{
    width: 50px;
    background: none;
}
section.home-section{
    position: relative;
    background: #fff;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

section.home-section div.text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}
section.home-section div.bixi:hover{
    box-shadow:rgba(99, 99, 99, 0.2)0px 2px 8px 0px;
}
@media (max-width: 420px){
    div.sidebar li span.tooltip{
        display: none;
    }
}
td{
    padding: 5px 10px;
    text-align: center;
    font-size: 9pt;
    height: 50px;
}
div.search__container{
    padding-top: 64px;
}
input.search__input{
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
input.search__input::placeholder{
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
input.search__input:hover,
input.search__input:focus{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}
div.credits__container{
    margin-top: 24px;
}
div.pagination ul{
    width: 100%;
    display: flex;
}
div.pagination ul li{
    color: #7788F4;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}
div.pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
}
div.pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
}
div.pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
    display: none;
}
div.pagination ul li.dots{
    font-size: 22px;
    cursor: default;
    display: none;
}
div.pagination ul li.btn{
    padding: 0 20px;
}
div.pagination li.active,
div.pagination ul li.numb:hover,
div.pagination ul li:first-child:hover,
div.pagination ul li:last-child:hover{
    color: #fff;
    background: #7788F4;
}
button.upload:hover{
    color: #fff;
    background-color: #7788F4;
    border: 1px solid #7788F4;
}